h1 {
    color: aqua;
    font-family: 'Inconsolata', monospace;
}

#picture_tab {
    color: black;
    align-items: left;
}

#picture_tab:hover {
    color: brown;
    fill: coral;
}

p::first-line {
    color: deeppink;
}

p {
    font-family: 'Roboto', sans-serif;
}